{% load static %}
<!DOCTYPE html>
<html>
    <head>
    <title>Cria Publicacao</title>
    <link rel="stylesheet"
    href="{% static 'static/forum/css/estilo.css' %}">
</head>
<body>
    {% include 'forum/links.html' %}
    <h1>Cria uma Publicacao</h1>
    <form action="" method="POST">
        <fieldset style="width: max-content;">
            <legend>Formulário de Publicacao</legend>
            {% csrf_token %}
            <table class='formulario'>
                {{ formulario.as_table }}
            </table>
            <button type="submit">Cria publicacao</button>
        </fieldset>
    </form> 
</body>