<!--
Para incluir esse fragmento de página HTML
em uma página HTML use:
{ % include 'forum/links.html' % }
-->
{% load static %}
<a href="/">
    Home-Page
    </a> |
    <a href="{% url 'forum:home-publicacoes' %}">
    Página inicial
    </a> |
    <a href="{% url 'forum:lista-publicacoes' %}">
    Listar publicacoes
    </a> |
    <a href="{% url 'forum:cria-publicacao' %}">
        Cadastrar publicacao
    </a> 
    <p>
        Você é {% firstof user.username "visitante" %}
    </p>
    <hr>