{% load static %}
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Lista Publicacoes</title>
<link rel="stylesheet" href="{% static 'forum/css/estilo.css' %}">
</head>
<body>
    {% include 'forum/links.html' %}
    <h1>Lista de publicacoes</h1>
    <table>
     <tr><th>Titulo</th><th>Autor</th><th>Ações disponíveis</th></tr>
     {% if publicacoes %}
        {% for publicacao in publicacoes %}
            <tr>
            <td>    
            <a href="{% url 'forum:ve-publicacao' pk=publicacao.id %}">{{ publicacao.titulo }}</a>
            </td> 
            <td>{{ publicacao.autor }}</td>
            <td>
                <a href="{% url 'forum:atualiza-publicacao' pk=publicacao.id %}">Atualizar</a> |
                <a href="{% url 'forum:apaga-publicacao' pk=publicacao.id %}">Excluir</a> 
            
            </td>
        </tr>
    {% empty %}
    <tr><th colspan="5">Ainda não tem pubicacoes cadastradas</th></tr>
    {% endfor %}
    {% else %}
    <tr><th colspan="5">Ainda não tem publicacoes cadastradas</th></tr>
    {% endif %}
</table>
</body>
</html>