{% load static %}
<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <meta charset="UTF-8">
    <title>Apaga Publicacao</title>
</head>

<body class="bg-dark">
    {% include 'links.html' %}
    <h1 style="color: white;">Remoção de publicações</h1>
    <form method="POST">
        {% csrf_token %}
        <a style="color: white;">Confirma a remoção de {{ publicacao }}?<br></a>
        <button>
            <a href="{% url 'forum:lista-publicacoes' %}" style="text-decoration: none; color: black;">Cancela</a>
        </button>
        <input type="submit" value="Remover">
    </form>
</body>

</html>