{% load static %}
<!DOCTYPE html>
    <html>
    <head>
        <meta charset="UTF-8">
        <title>Atualiza Publicação</title>
        <link rel="stylesheet" href="{% static 'publicacoes/css/estilo.css' %}">
    </head>
    <body>
        {% include 'links.html' %}
        <h1>Atualização de Publicações</h1>
        <form method="POST" class='formulario'>
            {% csrf_token %}
            <table>
                {{ publicacao.as_table }}
                <tr>
                <td></td>
                <td><input type="submit" value="Atualiza"></td>
                </tr>
            </table>
        </form>
    </body>
</html>