{% load static %}
<!DOCTYPE html>
<html>
    <head>
    <title>Cria Publicação</title>
    <link rel="stylesheet"
    href="{% static 'static/forum/css/estilo.css' %}">
</head>
<body>
    {% include 'links.html' %}
    <h1>Criar uma Publicação</h1>
    <form action="" method="POST">
        <fieldset style="width: max-content;">
            <legend>Formulário de Publicação</legend>
            {% csrf_token %}
            <table class='formulario'>
                {{ formulario.as_table }}
            </table>
            <button type="submit">Criar publicação</button>
        </fieldset>
    </form> 
</body>