{% load static %}
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Lista Publicacoes</title>
<link rel="stylesheet" href="{% static 'forum/css/estilo.css' %}">
</head>
<body>
    {% include 'links.html' %}
    
    <h1> The Forum </h1>
    <a href="{% url 'forum:cria-publicacao' %}">
        Nova Publicação
    </a> 
    <br> <br> <br> <br>
    <table>
     <tr><th>Publicação</th><th>Autor</th><th></th></tr>
     {% if publicacoes %}
        {% for publicacao in publicacoes %}
            <tr>
            <td>    
            <a href="{% url 'forum:ve-publicacao' pk=publicacao.id %}">{{ publicacao.titulo }}</a>
            </td> 
            <td>{{ publicacao.autor }}</td>
            {% if publicacao.autor.username == user.username %}

            <td>
                <a href="{% url 'forum:atualiza-publicacao' pk=publicacao.id %}">Atualizar</a> |
                <a href="{% url 'forum:apaga-publicacao' pk=publicacao.id %}">Excluir</a> 
            
            </td>
            {% else %}
            <td>
                
            </td>
            {% endif %}
        </tr>

    {% empty %}
    <tr><th colspan="5">Ninguém publicou ainda.</th></tr>
    {% endfor %}
    {% else %}
    <tr><th colspan="5">Ninguém publicou ainda.</th></tr>
    {% endif %}
</table>

</body>
</html>