{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Lista Publicacoes</title>
    <link rel="stylesheet" href="{% static 'forum/css/estilo.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body class="bg-dark" style="margin-left: 5px;">
    {% include 'links.html' %}
    <div class="d-flex flex-column justify-content-center justify-items-center" style="margin-left: 15px;">
        <h1 style="color: #00FF41;"> The Forum </h1>
        <a href="{% url 'forum:cria-publicacao' %}" style="margin: 20px; ">
            Nova Publicação
        </a>
        <br> <br> <br> <br>
        <table>
            <tr>
                <th style="color: white;">Publicação</th>
                <th style="color: white;">Autor</th>
                <th></th>
            </tr>
            {% if publicacoes %}
            {% for publicacao in publicacoes %}
            <tr>
                <td>
                    <a href="{% url 'forum:ve-publicacao' pk=publicacao.id %}">{{ publicacao.titulo }}</a>
                </td>
                <td style="color: white;">{{ publicacao.autor }}</td>
                {% if publicacao.autor.username == user.username %}

                <td>
                    <a href="{% url 'forum:atualiza-publicacao' pk=publicacao.id %}">Editar</a>
                    <a style="color: white;"> |</a>
                    <a href="{% url 'forum:apaga-publicacao' pk=publicacao.id %}">Remover</a>

                </td>
                {% else %}
                <td>

                </td>
                {% endif %}
            </tr>

            {% empty %}
            <tr>
                <th style="color: white;" colspan="5">Ninguém publicou ainda.</th>
            </tr>
            {% endfor %}
            {% else %}
            <tr>
                <th style="color: white;" colspan="5">Ninguém publicou ainda.</th>
            </tr>
            {% endif %}
        </table>
    </div>
</body>

</html>