{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/estilo.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body class="bg-dark">
    <h1 style="color: white;">Site Seguro</h1>
    <div style="color: white;">
        <a href="/">Homepage</a>
        | <a href="{% url 'sec-home' %}">Página inicial de segurança</a>
        {% if user.is_authenticated %}
        | <a href="{% url 'sec-logout' %}">Logout</a>
        | <a href="{% url 'sec-password_change' %}">Trocar senha</a>
        | <a href="{% url 'sec-completaDadosUsuario' pk=user.id %}">Terminar registro</a>
        {% else %}
        | <a href="{% url 'sec-registro' %}">Registrar</a>
        | <a href="{% url 'sec-login' %}?next={% url 'sec-logado' %}">
            Login
        </a>
        {% endif %}
        | você é: {% firstof user.username "visitante" %}
    </div>
    <hr>
    {% block content %}{% endblock %}
</body>

</html>