{% extends 'registro/base.html' %}
{% block title %}Envio de Link{% endblock %}
{% block content %}
<h2 style="color: white;">Reset de senha</h2>
<h3 style="color: white;">Redefinição de senha enviada</h3>
<p style="color: white;">
    Enviamos-lhe instruções por e-mail para definir sua senha
    existir uma conta com o e-mail digitado.
    Você deve recebê-las em breve.
</p>
<p style="color: white;">
    Se você não receber um e-mail, verifique se digitou o
    endereço com o qual se registrou e verifique sua pasta de
    spam.
</p>
{% endblock %}